.venv/
__pycache__/
dist/
.idea/
conftest.py
.coverage
.env
.pytest_cache
tmp/
./requirements.txt
task_manager/__pycache__/
.DS_Store
task_manager/.DS_Store
task_manager/templates/.DS_Store
task_manager/templates/task_manager/.DS_Store
*.mo
*.po
